<!-- template for table of contents html in "Behind the Calculations" pages -->

<h2>Overview of Steps in Calculating a DCF:</h2>
<p>1.&emsp;<a href="/step_1/">Establish timeframe</a></p>
<p>2.&emsp;<a href="/step_2/"><b>Forecast revenue</b> growth and operating expenses</a></p>
<p>3.&emsp;<a href="/step_3/">Calculate <b>free cash flows</b></a></p>
<p>4.&emsp;<a href="/step_4/">Calculate <b>discount rate</b></a></p>
<p>5.&emsp;<a href="/step_5/">Find <b>present value</b> of future cash flows</a></p>
<p>6.&emsp;<a href="/step_6/">Calculate <b>terminal value</b></a></p>
<p>7.&emsp;<a href="/step_7/">Calculate <b>enterprise value</b></a></p>
<p>8.&emsp;<a href="/step_8/">Find implied <b>share price</b></a></p>