<!-- template fore the risk survey page -->

{% extends "home/header.html" %}

{% block content %}

<h2>Risk Assessment Survey</h2>

<p>&nbsp;</p>

<!-- form for the risk assessment survey -->
<form method="POST" action="/risk_survey/scored/">
	{% csrf_token %}
	<table class="table table-fixed">
		<thead>
			<tr>
				<th>Question</th>
				<th>Response</th>
			</tr>
		</thead>
		<tbody>
			{% for line in questions %}
				<tr>
					<td width=40%>{{line.1}}</td>
					{% if line.2 == 1 %}
					<td>
						<input type="radio" name="{{line.0}}" value="0.005"> Strongly Disagree&ensp;&ensp;&ensp;&ensp;
						<input type="radio" name="{{line.0}}" value="0.0025"> Disagree&ensp;&ensp;&ensp;&ensp;
						<input type="radio" name="{{line.0}}" value="0" checked="checked"> Neutral&ensp;&ensp;&ensp;&ensp;
						<input type="radio" name="{{line.0}}" value="-0.0025"> Agree&ensp;&ensp;&ensp;&ensp;
						<input type="radio" name="{{line.0}}" value="-0.005"> Strongly Agree
					</td>
					{% else %}
					<td>
						<input type="radio" name="{{line.0}}" value="-0.005"> Strongly Disagree&ensp;&ensp;&ensp;&ensp;
						<input type="radio" name="{{line.0}}" value="-0.0025"> Disagree&ensp;&ensp;&ensp;&ensp;
						<input type="radio" name="{{line.0}}" value="0" checked="checked"> Neutral&ensp;&ensp;&ensp;&ensp;
						<input type="radio" name="{{line.0}}" value="0.0025"> Agree&ensp;&ensp;&ensp;&ensp;
						<input type="radio" name="{{line.0}}" value="0.005"> Strongly Agree
					</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

<p>&nbsp;</p>

	<p align="center"><input type="submit" value="Calculate"></p>
</form>

<!-- form to reset the risk score -->
<form method="POST" action="/risk_survey/reset/">
	{% csrf_token %}
	<p align="center"><button type="submit">Reset Risk Score</button></p>
</form>

<p>&nbsp;</p>

{% endblock %}