{% extends "home/header.html" %}

{% block content %}
<head>
	<style media="screen" type="text/css">
	</style>
</head>

<h3>DFA | Disruptive_FA | Previous Close: $999</h3>
<h3>High: $999 | Low: DNE | Beta: -100 | Market Cap: $99999hahahagiveusanA9999</h3>
<h3>Technology | Computer Software: Prepackaged Software</h3>

<p>&nbsp;</p>

<p>Here are some stock metrics that are used in the calculation of our discount cash flow.</p>
<p>Learn more about our calculations here: <a href="/info/">Behind the Calculations</a></p>

<p>&nbsp;</p>

<div id="" style="overflow-y:scroll; height:400px;">
	<table class="table table-fixed">
	  <thead>
	    <tr>
	    	<th>Line Item</th>
	    	<th>1/1/2014</th>
	    	<th>1/1/2015</th>
	    	<th>1/1/2016</th>
	    	<th>1/1/2017</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr>
	  		<td>Total Revenue</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  	</tr>
	  	<tr>
	  		<td>Gross Profit</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  	</tr>
	  	<tr>
	  		<td>Operating Income</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  	</tr>
	  	<tr>
	  		<td>Earnings Before Interest and Tax</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  	</tr>
	  	<tr>
	  		<td>Inventory</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  	</tr>
	  	<tr>
	  		<td>Other Current Assets</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  	</tr>
	  	<tr>
	  		<td>Fixed Assets</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  	</tr>
	  	<tr>
	  		<td>Good Will</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  	</tr>
	  	<tr>
	  		<td>Intangible Assets</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  	</tr>
	  	<tr>
	  		<td>Net Cash Flow</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  		<td>9999999999999</td>
	  	</tr>
	  </tbody>
	</table>
</div>
	
<p>&nbsp;</p>

<p>&nbsp;</p>


<h3>Projected Price: $9999 &nbsp;&nbsp;&nbsp;&nbsp; BUY</h3>

<p>&nbsp;</p>

<h3>Do you agree with our assessment?</h3>

<table>
	<tbody>
		<tr>
			<form method="POST" action="/stock_search/thanks/">
			{% csrf_token %}
				<td><input type="radio" name="agree" value="0" checked> Agree&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><input type="radio" name="agree" value="0"> Agree&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><input type="radio" name="agree" value="0"> Agree&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<td><input type="submit" value="Submit"></td>
			</form>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<div class="panel panel-default">
<div class="panel-heading text-center"><b>Recommended</b></div>
<table class="table">
	<tr>
		<th>Company Name</th>
		<th>Link to Results</th>
	</tr>
	<tr>
		<td>n/a</td>
		<td>n/a</td>
	</tr>
	<tr>
		<td>n/a</td>
		<td>n/a</td>
	</tr>
	<tr>
		<td>n/a</td>
		<td>n/a</td>
	</tr>
	<tr>
		<td>n/a</td>
		<td>n/a</td>
	</tr>
	<tr>
		<td>n/a</td>
		<td>n/a</td>
	</tr>
</table>
</div>

<p>&nbsp;</p>

{% endblock %}