{% extends "home/header.html" %}

{% block content %}

<h2>Search for Your Stock of Interest</h2>

{% for line in test %}
	<p>{{line}}</p>
{% endfor %}

<p>&nbsp;</p>

<h3>Stock Ticker</h3>

<form method="POST" action="/stock_search/results/">
	{% csrf_token %}
	<input type="text" name="textfield">
	<button type="submit">Search</button>
</form>

<p>&nbsp;</p>

<h3>Stock Parameters</h3>

<form method="POST" action="/stock_search/advanced/">
	{% csrf_token %}
		<table class="table table-fixed">
			<thead>
				<th>Sector</th>
				<th>Industry</th>
				<th>Market Cap</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<select type="text" name="Sector">
							<option value="None" selected>&nbsp;</option>
							{% for line in sector %}
								<option value="{{line}}">{{line}}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select type="text" name="Industry">
							<option value="None" selected>&nbsp;</option>
							{% for line in industry %}
								<option value="{{line}}">{{line}}</option>
							{% endfor %}
						</select>
					</td>
					<td>
						<select type="text" name="Market Cap">
							<option value="None" selected>&nbsp;</option>
							<option value="0">$0 - $1M</option>
							<option value="1M">$1M - $100M</option>
							<option value="100M">$100M - $1B</option>
							<option value="1B">$1B - $10B</option>
							<option value="10B">$10B +</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	<p align="center"><button type="submit">Search</button></p>
</form>

<p>&nbsp;</p>

{% endblock %}