{% extends "home/header.html" %}

{% block content %}

<h2>Financial Advisory and Analysis in an Accessible and Readable Package</h2>

<p>&nbsp;</p>

<p>Welcome to Disruptive_FA! Our aim is to provide our users with a convenient, easy to understand financial advisory experience. Get started with our quick search or try our advanced search feature where you can query stocks by more detailed parameters.</p>

<p>&nbsp;</p>

<p>Learn more about our calculations here: <a href="/info/">Behind the Calculations</a></p>

<p>&nbsp;</p>

{% endblock %}