<!-- template for step_8 of "Behind the Calculations" -->

{% extends "home/header.html" %}

{% block content %}

<h2>Step 8: Find the Share Price</h2>

<p>&nbsp;</p>

<h3>Find Enterprise Value (EV):</h3>
<p><b>EV</b> = PV FCF + PV TV</p>

<p>&nbsp;</p>

<h3>Then, derive Equity Value from EV:</h3>
<p><b>EV</b> - Debt - Preferred Stock - Minority Interest + Cash = <b>Equity Value</b></p>

<p>&nbsp;</p>

<h3>Last, but not least, divide Equity Value by shares outstanding:</h3>
<p>Equity Value / Shares Outstanding = <b>Price per Share</b></p>

<p>&nbsp;</p>

<p><b>Typically, valuations are reported as <u>ranges</u> using a sensitivity table and visually in a football field diagram</b></p>

<p>&nbsp;</p>

{% include "home/includes/toc.html" %}

<p>&nbsp;</p>

{% endblock %}