<!-- template for step_1 of "Behind the Calculations" -->

{% extends "home/header.html" %}

{% block content %}

<h2>Step 1: Establish a Timeframe</h2>

<p>&nbsp;</p>

<h3>Determine the time period for your FCF projection</h3>
<p><b>5 Year Projection:</b></p>
	<ul>Less predictable cash flows, riskier company</ul>
	<ul>Company still has a decent market position, may provide some competitive advantages such as patents, brand names</ul>
<p><b>10 Year Projection:</b></p>
	<ul>Stable, predictable cash flows</ul>
	<ul>Dominant market position, high barriers to entry in the industry</ul>

<p>&nbsp;</p>

<h3>It becomes increasingly difficult to project FCF further into the future and increasingly difficult to justify your assumptions</h3>
<p><b>Our application uses 5 Year Projections</b></p>
	<ul>Real world companies rarely meet the requirements for a reliable 10 Year Projection</ul>
	<ul>We live in a volatile world and would hate to be the reason for the loss of your life savings :)</ul>

<p>&nbsp;</p>

{% include "home/includes/toc.html" %}

<p>&nbsp;</p>

{% endblock %}