<!-- template for step_2 of "Behind the Calculations" -->

{% extends "home/header.html" %}

{% block content %}

<h2>Step 2: Forecasting Revenue Growth</h2>

<p>&nbsp;</p>

<h3>Evaluate predictors of the <b>future</b></h3>
<p>Consider <b>factors affecting revenue:</b></p>
	<ul>Is the market/company growing, shrinking, stable?</ul>
	<ul>Is the market share of the company increasing or decreasing?</ul>
	<ul>Are there any new products driving sales?</ul>
	<ul>Are they about to lose the patent of their best product?</ul>

<h3>Take the following example</h3>
<p><b>Company X has grown at 15% for the last 3 years, and your research says that demand for their products is not likely to slow down. Management says the company will continue to grow at 15%.</b></p>
	<ul>While it could certainly continue to grow at 15% for the next 5 years, <u>a competitor could enter and begin chipping away at market share</u></ul>
	<ul>Stay on the conservative side:<ul>Maybe predict another 2 years at 15%, then 2 years at 10% (new competitor enters in year 3), and a year at 8% (new competitor has experience and is starting to solidify its market share).</ul></ul>

<p>&nbsp;</p>

{% include "home/includes/toc.html" %}

<p>&nbsp;</p>

{% endblock %}